<div class="card mb-4 w-100" id="widget_{{ manager.definition.id }}">
    <div class="card-header bg-danger text-white">
        {{ 'spipu.dashboard.source.error.label'|trans }}
    </div>
    <div class="card-body">
        {{ manager.definition.sourceLabel }}
    </div>
</div>
