<div class="card-header d-flex justify-content-between align-items-center">
    {% set sourceCode = manager.definition.source.code %}
    {% set type = manager.request.period.type %}
    {% set from = manager.request.period.dateFrom|date('Y-m-d H:i') %}
    {% set to = manager.request.period.dateTo|date('Y-m-d H:i') %}
    <span>{{ ('spipu.dashboard.source.' ~ sourceCode ~ '.title')|trans({'%period': ('spipu.dashboard.period_title.' ~ type)|trans({'%from': from, '%to': to})}) }}</span>
    {% include manager.definition.templateConfig with {'manager': manager} %}
</div>